# Debug Logs
npm-debug.log

# Uncompiled Source Files
src
test

# Node Modules
node_modules/
node_modules/*

# Configuration Files
.eslintrc*
tsconfig*

# Test/Coverage Files
coverage/
coverage/*
.nycrc
.nyc_output
.nyc_output/*
.coveralls.yml
lib/test

# Github Configuration Files
_config.yml
.git*

# Extra documentation files
upgrade_guides/*